.main-board {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.game-info {
  padding: 4px 10px;
  background-color: #f2f2f2;
  display: flex;
}

.game-info h4 {
  margin-right: 20px;
  padding: 0 10px;
  border-right: solid 2px #ddd;
}

.game-players {
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid 2px #ddd;
}

.game-players .player {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: solid 2px #ddd;
  padding: 10px;
}

.game-players .player h4,
.game-players .player h2 {
  margin: 10px 0;
}

.round-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

.round-cards .card {
  border: solid 2px #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3 ease;
}

.round-cards .card:hover {
  background-color: #f2f2f2;
}

.card.leadCard {
  box-shadow: 0 0 10px 1px rgba(235, 22, 15, 0.534);
}
