/* You can add global styles to this file, and also import other style files */
button {
  padding: 10px 20px;
  font-size: 15px;
  border: solid 1px #ddd;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

input {
  padding: 10px 20px;
  font-size: 15px;
  border: solid 1px #ddd;
  background-color: #fff;
}
